preferred_auth_method = "chatgpt"

model = "gpt-5.2-codex"
model_reasoning_summary = "auto"

approval_policy = "on-request"
sandbox_mode = "workspace-write"
model_reasoning_effort = "xhigh"

[features]
web_search_request = true

[sandbox_workspace_write]
network_access = true

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[notice.model_migrations]
"gpt-5.1-codex-max" = "gpt-5.2-codex"

